/*colors*/
/*temp*/
/*font*/
html {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  color: #fff;
  font-family: "Sofia Sans Semi Condensed", monospace;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.background__img {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  animation: kenburns-top 5s ease-in-out infinite alternate both;
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(-15px);
    transform: scale(1.05) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
.main {
  position: relative;
  z-index: 2;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(10px);
}
.main__weather {
  height: 100%;
}
.main__img-icon {
  width: 70px;
  height: 70px;
  filter: drop-shadow(4px 4px 21px rgba(0, 0, 0, 0.3));
}
.main__app {
  border-radius: 20px;
}
.main__app-name {
  font-family: Raleway, monospace;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0.5rem 0;
  text-shadow: -1.3px 1.3px 0.5px rgba(0, 0, 0, 0.15);
  padding: 5px;
}
.main__app-name--span {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 900;
  color: #ffcc32;
  background-color: rgba(100, 158, 232, 0.4117647059);
  padding: 5px;
  margin: 0 3px;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}
.main__location-ico {
  width: 45px;
  height: 45px;
  display: block;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.2));
}
.main__location-ico:hover {
  filter: brightness(0) saturate(100%) invert(21%) sepia(86%) saturate(5298%) hue-rotate(200deg) brightness(100%) contrast(100%) drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.3));
}

.side__search {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 4px 0;
  filter: drop-shadow(4px 4px 21px rgba(0, 0, 0, 0.3));
}
.side__search:after {
  content: "";
  background: #206cb7;
  width: 5px;
  height: 22px;
  position: absolute;
  top: 34px;
  transform: rotate(130deg);
  border-radius: 50px;
}
.side__search > input {
  color: #206cb7;
  font-size: 18px;
  font-family: "Open Sans", monospace;
  font-weight: 700;
  filter: drop-shadow(-1px 1px 1.5px rgba(0, 0, 0, 0.2));
  background: rgba(245, 245, 245, 0.7882352941);
  width: 45px;
  height: 45px;
  padding: 15px;
  border: solid 4px #206cb7;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}
.side__search > input::placeholder {
  color: rgba(45, 113, 180, 0.4745098039);
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.side__search > input:focus::placeholder {
  opacity: 1;
}
.side__search > input:focus, .side__search > input:not(:placeholder-shown) {
  width: 60%;
}

.forecast__pic {
  font-size: 150px;
  color: transparent;
  background: rgb(254, 254, 254);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  filter: drop-shadow(4px 4px 21px rgba(0, 0, 0, 0.3));
}
.forecast__city {
  font-family: "Sofia Sans Semi Condensed", monospace;
  font-weight: 900;
  font-size: 42px;
  color: #fff;
}
.forecast--temp, .forecast--deg {
  font-family: "Sofia Sans Semi Condensed", monospace;
}
.forecast--temp {
  font-size: 96px;
  margin: 0;
}
.forecast--deg {
  font-size: 42px;
  margin: 0;
  font-weight: 800;
}
.forecast--cels:hover, .forecast--farh:hover, .forecast--cels:active, .forecast--farh:active {
  color: #206cb7;
}
.forecast__today {
  font-size: 16px;
}
.forecast__descr {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Sofia Sans Semi Condensed", monospace;
}
.forecast__detailed--info {
  font-family: "Sofia Sans Semi Condensed", monospace;
  font-size: 16px;
  font-weight: 700;
}
.forecast__detailed--info--span {
  color: #006ad4;
}

.created-text {
  color: #fff;
  font-size: 16px;
}
.created--name, .created--repo, .created--host {
  font-weight: 700;
  text-decoration: none;
  color: #ffcc32;
  transition: all 150ms ease-in-out;
}
.created--name:hover, .created--repo:hover, .created--host:hover, .created--name:active, .created--repo:active, .created--host:active {
  color: #006ad4;
  filter: drop-shadow(4px 4px 21px rgba(0, 0, 0, 0.3));
}

.picked {
  color: #ffcc32;
  filter: drop-shadow(4px 4px 21px rgba(0, 0, 0, 0.3));
}/*# sourceMappingURL=style.css.map */