/*colors*/

$white-grey-lt: #f5f5f580;
$white-grey-md: #ece8eb;
$white-grey: #dddbdd;

$cream-lt: #efe6dc;
$cream-md: #e5dcd1;
$cream: #dbd2c6;

$sky-lt: #a9bfc9;
$sky-md: #9fb3bf;
$sky: #94a6b3;

$ash-lt: #cecece;
$ash-md: #cdcdcd;
$ash: #c4c4c4;

$black-lt: #232323;
$black-md: #181818;
$black: #191919;

$white: #fff;

$blue-trans: #649ee869;
$grey-trans: rgba(142, 142, 142, 0.337);
$yellow: #ffcc32;
$typed: #206cb7;
$deep-typed: #006ad4;
$typed-trans: #2d71b479; 


/*font*/
$accent-font: "Rubik", monospace;
$font-num: "Sofia Sans Semi Condensed", monospace;