.forecast {
  &__pic {
    font-size: 150px;
    color: transparent;
    background: rgb(254, 254, 254);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    @include shadow;
    // text-shadow: 0px 2px 2px rgba(10, 10, 10, 0.485);
    // opacity: 50%;
    // filter: brightness(0) saturate(100%) invert(0%) sepia(53%) saturate(2090%)
    //   hue-rotate(122deg) brightness(146%) contrast(90%);
    // @include hard-shadow;

    &:hover {
      // filter: drop-shadow(-1.3px 1.3px 2px rgba(0, 0, 0, 0.6));
    }
  }

  &__city {
    font-family: $font-num;
    font-weight: 900;
    font-size: 42px;
    color: $white;
    // @include hard-shadow;
  }

  &--temp,
  &--deg {
    font-family: $font-num;
  }

  &--temp {
    font-size: 96px;
    margin: 0;
    // @include hard-shadow
    //  text-shadow: 1px 1px $grey-trans, -1px -1px $black-lt;
  }

  &--deg {
    font-size: 42px;
    margin: 0;
    font-weight: 800;

    // @include hard-shadow;
  }

  &--cels:hover,
  &--farh:hover,
  &--cels:active,
  &--farh:active {
    color: $typed;
  }

  &__today {
    font-size: 16px;
    cursor: pointer;
    // @include hard-shadow;
  }

  &__descr {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: $font-num;
    // @include hard-shadow;
  }

  &__detailed--info {
    font-family: $font-num;
    font-size: 16px;
    font-weight: 700;

    &--span {
      color: $deep-typed;
    }
    // @include hard-shadow;
  }
}

.created {
  &-text {
    color: $white;
    font-size: 16px;
    // @include hard-shadow;
  }

  &--name,
  &--repo,
  &--host {
    font-weight: 700;
    text-decoration: none;
    color: $yellow;
    transition: all 150ms ease-in-out;
  }

  &--name:hover,
  &--repo:hover,
  &--host:hover,
  &--name:active,
  &--repo:active,
  &--host:active {
    color: $deep-typed;
    @include shadow;
  }
}

.picked {
  color: $yellow;
  @include shadow;
}
