.forecast {
  &__pic {
    width: 60px;
    height: 60px;

    @include hard-shadow;

    &:hover {
      filter: drop-shadow(-1.3px 1.3px 2px rgba(0, 0, 0, 0.6));
    }
  }

  &__city {
    font-family: $accent-font;
    font-weight: 700;
    font-size: 42px;
  }

  &--temp,
  &--deg {
    font-family: $font-num;
  }

  &--temp {
    font-size: 132px;
    margin: 0;
    color: $deep-typed;
    @include hard-shadow
      //  text-shadow: 1px 1px $grey-trans, -1px -1px $black-lt;
;
  }

  &--deg {
    font-size: 42px;
    margin: 0;
    font-weight: 800;

    @include hard-shadow;
  }

  &__descr--wrap {
    font-size: 24px;
    font-style: italic;
  }

  &__detailed {
    background-color: $white-grey-lt;
    border-radius: 20px;
    border: 3px solid $typed-trans;
  }

  &__detailed--info {
    font-size: 18px;
    font-style: italic;
  }
}

.created {
  &-text {
    font-size: 14px;
  }

  &--name,
  &--repo,
  &--host {
    font-weight: 700;
    text-decoration: none;
    color: $typed;
  }

  &--name:hover,
  &--repo:hover,
  &--host:hover,
  &--name:active,
  &--repo:active,
  &--host:active {
    color: $yellow;
    @include shadow;
  }
}

.open {
  color: $deep-typed;
}
